{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
    <div class="page-inner">

        <div class="page-header">
            <h4 class="page-title">Listado: {{ client.name }} </h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'client_list' %} ">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="">Listado: {{ client.name }}</a>
                </li>
            </ul>
        </div>
        {% if employee.role == 0 or employee.role == 2 %}
            <div style="margin-bottom: 75px;">
                <a href="{% url 'add_process' client_pk=client.pk %}" class="mb-5"><button class="btn btn-success pull-right"><span class="btn-label"><i class="fa fa-plus"></i></span>Crear proceso</button></a>
            </div>
            <div style="margin-bottom: 75px;">
                <a href="{% url 'unidad_list' client_pk=client.pk %}" class="mb-5"><button class="btn btn-info pull-right"><span class="btn-label"><i></i></span>Unidades internas</button></a>
            </div>
        {% endif %}
        
        <div class="row">
            {% for process in process_list %}
            <div class="col-md-4">
                <div class="card card-primary card-annoucement card-round">
                    <div class="card-body text-center">
                        <div class="card-opening">{{ process.name }}</div>
                        <div class="card-desc">{{ process.description }}</div>
                        <div class="card-detail mt-3">

                            <a href="{% url 'process_detail' client_pk=process.client.pk process_pk=process.pk %}" class="btn btn-light btn-rounded mt-4">Detalles</a>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>

{% endblock content %}


{% block javascripts %}

{% endblock javascripts %}