{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
    <div class="page-inner">

        <div class="page-header">
            <h4 class="page-title">{{ process.name }}</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'client_list' %} ">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'process_list' client_pk=client.pk %}">Listado: {{ client.name }}</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="">{{ process.name }}</a>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Detalles</h1>
            </div>
              <div class="card-body mb-4 mt-4">
                <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
    
                  <div class="px-2 pb-2 pb-md-0 text-center">
                    <div id="finished-circle"></div>
                    <h6 class="fw-bold mt-3 mb-0">Tareas terminadas</h6>
                  </div>
    
                  <div class="px-2 pb-2 pb-md-0 text-center">
                    <div id="inprogress-circle"></div>
                    <h6 class="fw-bold mt-3 mb-0">Tareas en proceso</h6>
                  </div>
    
                  <div class="px-2 pb-2 pb-md-0 text-center">
                    <div id="expired-circle"></div>
                    <h6 class="fw-bold mt-3 mb-0">Tareas atrasadas</h6>
                  </div>
    
                </div>
            </div>
        </div>

        <div class="mb-5">
            <div class="progress progress-sm" style="height: 30px;">
                <div class="progress-bar bg-success 
                {% if percentage == 0 %}w-0{% endif %}
                {% if percentage <= 20 and percentage > 0 %}w-25{% endif %}
                {% if percentage <= 50 and percentage > 20 %}w-50{% endif %}
                {% if percentage <= 99 and percentage > 50 %}w-75{% endif %}
                {% if percentage == 100 %}w-100{% endif %}" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <h4 class="mb-0">Cumplido</h4>
                <h4 class="mb-0">{{ percentage }}%</h4>
            </div>
        </div>

        <!-- TimeLine -->
        
        {% if employee.role == 0 or employee.role == 2 %}
        <div class="row">
            <div class="col-sm" style="text-align: right;">
                <a href="{% url 'add_task' client_pk=client.pk process_pk=process.pk %}" class="mb-5"><button class="btn btn-success btn-lg"><span class="btn-label"><i class="fa fa-plus"></i></span>Crear tarea</button></a>
            </div>
            <div class="col-sm">
                <a href="{% url 'listado_flujo' client_pk=client.pk process_pk=process.pk %}" class="mb-5"><button class="btn btn-primary btn-lg"><span class="btn-label"></span>Flujos de tareas</button></a>
            </div>
        </div>
        {% endif %}

        <div class="col-md-12 mb-1 mt-5 row">
            <div class="col-md-6"><h3><b><center>Tareas</center></b></h3></div>
            <div class="col-md-6 ml-auto"><h3><b><center>Mis tareas</center></b></h3></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if task_list %}
                <ul class="timeline">
                    
                        {% for task in task_list %}
                            <li class="{% if task.responsable.id == employee.id %}timeline-inverted{% endif %}"> 
                                {% if task.status == 0 %}<div class="timeline-badge success"><i class="fas fa-calendar-check"></i></div>{% endif %}
                                {% if task.status == 1 %}<div class="timeline-badge warning"><i class="fas fa-calendar-minus"></i></div>{% endif %}
                                {% if task.status == 2 %}<div class="timeline-badge danger"><i class="fas fa-calendar-times"></i></div>{% endif %}
                                {% if task.status == 3 %}<div class="timeline-badge danger"><i class="fas fa-bell-slash"></i></div>{% endif %}
                                {% if task.status == 4 %}<div class="timeline-badge warning"><i class="fas fa-bell"></i></div>{% endif %}
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h1 class="timeline-title">
                                            {{ task.name }} 
                                            {% if task.status == 4 %}<span class="h5 text-success">Nuevo</span>{% endif %} 
                                            {% if employee.role == 0 or employee.role == 2 %}{% if task.status == 3 %}<span class="h5 text-warning">Rechazado:</span> <span class="text-warning h6">{% for comment in comment_list %} {% if comment.task.pk == task.pk %} {{ comment.created_at | date:'d/m/Y' }} - {{ comment.created_at | time:"h:i a" }} </span><button class="btn btn-info btn-xs pull-right" onclick="open_modal('{% url 'detail_reject' client_pk=process.client.pk process_pk=process.pk task_pk=task.pk reject_pk=comment.pk %}')">Revisar</button>{% endif %} {% endfor %}{% endif %}{% endif %}
                                            {% if task.status == 1 %}
                                                <span class="h5 text-primary">En proceso</span>
                                                {% if task.responsable == employee %}
                                                <a href="{% url 'reportar_problema' client_pk=client.pk process_pk=process.pk task_pk=task.pk%}" title="Placeholder link title" class="text-decoration-none float-right">
                                                    Reportar problema
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-flag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 
                                                                12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 
                                                                8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.
                                                                26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 
                                                                1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.
                                                                003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 
                                                                7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z">
                                                        </path>
                                                    </svg>
                                                </a>
                                                {% endif %}
                                            {% endif %}
                                            {% if task.status == 2 %}<span class="h5 text-danger">Atrasada</span>{% endif %}
                                            {% if task.status == 0 %}<span class="h5 text-secondary">Terminada</span>{% endif %}
                                        </h1>
                                        <p class="mt--2"><small class="text-muted">{{ task.created_at | date:'d/m/Y' }} {{ task.created_at | time:"h:i a" }} - {{ task.expire_at | date:'d/m/Y' }} {{ task.expire_at | time:"h:i a" }}</small></p>
                                    </div>
                                    <div class="timeline-body mt--3">
                                        <h5 class="text-muted">Responsable: {{ task.responsable }}</h5>
                                        <hr>
                                        <p>{{ task.description }}</p>
                                        <br>
                                        <a href="{% url 'subordinada_list' client_pk=process.client.pk process_pk=process.pk task_pk=task.pk %}" class="btn btn-info">Tareas subordinadas</a>
                                    </div>
                                    
                                    {% if task.responsable.id == employee.id %}

                                        {% if task.status == 4 %}
                                            <hr>
                                            <div class="btn-group dropdown">
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    <span class="btn-label">
                                                        <i class="fa fa-cog"></i>
                                                    </span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <form method="POST" name="finish_task">
                                                            {% csrf_token %}
                                                            <input name="taskpk" style="display: none;" type="text" value="{{ task.pk }}">
                                                            <input type="submit" value="Aceptar" name="accept_task" onsubmit="setFormSubmitting()" class="dropdown-item" />
                                                            <input value="Rechazar" name="reject_task" onclick="open_modal('{% url 'reject_task' client_pk=process.client.pk process_pk=process.pk task_pk=task.pk %}')" class="dropdown-item" />
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}

                                        {% if task.status == 1 %}
                                        <hr>

                                        <div class="btn-group dropdown">
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <span class="btn-label">
                                                    <i class="fa fa-cog"></i>
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <form method="POST" name="finish_task">
                                                        {% csrf_token %}
                                                        <input name="taskpk" style="display: none;" type="text" value="{{ task.pk }}">
                                                        <input type="submit" value="Completar" name="finish_task" onsubmit="setFormSubmitting()" class="dropdown-item" />
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                        {% endif %}

                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                </ul>
                {% else  %}
                <center><h2 class="mt-5 mb-5">Aún no hay tareas</h2></center>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="comment" role="dialog">

    </div>

{% endblock content %}


{% block javascripts %}

<script type="text/javascript">
    var $ = jQuery.noConflict();
    function open_modal(url){
        $('#comment').load(url, function(){
            $(this).modal('show');
        });
    }
</script>

<script>
		Circles.create({
			id:'inprogress-circle',
			radius:90,
			value:{{ inprogress_task }},
			maxValue:{{ all_task }},
			width:20,
			text: {% if inprogress_task == 0 %}'0'{% else %}{{ inprogress_task }}{% endif %},
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'finished-circle',
			radius:90,
			value:{{ finished_task }},
			maxValue:{{ all_task }},
			width:20,
			text: {% if finished_task == 0 %}'0'{% else %}{{ finished_task }}{% endif %},
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'expired-circle',
			radius:90,
			value:{{ expired_task }},
			maxValue:{{ all_task }},
			width:20,
			text: {% if expired_task == 0 %}'0'{% else %}{{ expired_task }}{% endif %},
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
</script>

{% endblock javascripts %}