
{% extends "layouts/base.html" %}

{% block title %} Login {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Inicio sesion</h4>
        <ul class="breadcrumbs">
            
        </ul>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <span>Formulario usuario</span>
                    </div>
                </div>

                <br />

                <form method="post" action="">

                    {% csrf_token %}
                    <div>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required placeholder="Usuario">                              
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input name="password" type="password" class="form-control" value="" id="exampleInputPassword1" required placeholder="Contraseña">
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary" value="Iniciar sesión">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
